body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bar {
    background-color: #f9f9fb;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.bar ul {
    display: flex;
    justify-content: space-around;
}
.logo {
    cursor: pointer;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}
figure {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 14px;
    margin: 20px 0;
    background-color: #fff;
    border: 1px solid #ccc;
}

thead {
    background-color: #0074cc;
    color: #fff;
}

th, td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e6f2ff;
}
blockquote {
    color: gray;
    border-left: 4px solid lightgrey;
    padding: 5px 20px;
}

